In [1]:
# Introduction to Slicing

In [2]:
students=['anil','kumar','sunil','ravi','pavan',"sundhar",'venkey','ramu']

In [3]:
print(students)

['anil', 'kumar', 'sunil', 'ravi', 'pavan', 'sundhar', 'venkey', 'ramu']

In [4]:
# Slice the list into 2 persons in a group

In [5]:
# Alwasys last Value is excluded in Slicing

In [6]:
print(students[0:1])

['anil']

In [8]:
print(students[2:4])

['sunil', 'ravi']

In [13]:
print(students[0:3])

['anil', 'kumar', 'sunil']

In [14]:
print(students[0:7:2]) # Include alternatie students only

['anil', 'sunil', 'pavan', 'venkey']

In [ ]:
Implementation of Range Menthods

In [15]:
# List the numbers from 1 to 100

In [16]:
x=list(range(0,100))

In [17]:
print(x)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [18]:
# Print the even numbers from 1 to 25

In [19]:
even=list(range(2,25,2))

In [20]:
print(even)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24]

In [22]:
#Print the odd numbers from 1 to 25

In [23]:
odd=list(range(3,25,2))

In [24]:
print(odd)

[3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23]